html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.main {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

div#root {
  height: 100%;
}

.App {
  height: 100%;
}